.burger-menu {
    width: 30px;
    height: 22px;
    cursor: pointer;
    display: none;
    margin-bottom: 8px;
    margin-right: 40px;
    transition: all 0.3s ease-in-out;

    @media (max-width: $tablet-width) {
        position: relative;
        display: block;
        z-index: 1;

        &.is-active {
            top: 30px;
        }
    }
}

.burger-menu .line-burger {
    width: 30px;
    height: 2px;
    background-color: $main-color;
    display: block;
    margin: 8px auto;
    transition: all 0.3s ease-in-out;
}

// .burger-menu:hover > span {
//     background-color: #bdae82;
// }

#burger-menu.is-active {
    transform: rotate(-90deg);
}

.main-words.hidden {
    visibility: hidden;
}

.main-words.main-words-nav {
    @media(min-width: $tablet-width) {
        display: none;
    }
}

.nav {
    @media (max-width: $tablet-width) {
        // display: none;
        background: $dark-color2;
        width: 320px;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -320px;
        transition: all 0.3s;
        overflow: auto;

        .main-words.main-words-nav {
            text-align: left;
            padding-top: 30px;
            padding-left: 10px;

            a{
                text-decoration: none;
                color: $main-color;
            }

            & p:last-child {
                padding-left: 4px;
                color: #ffffff;
            }
        }

        ul {
            @include flex (center, center);
            flex-direction: column;
            row-gap: 55px;
            margin-top: 167px;
            li {
                margin: 0;
                a {
                    font-size: 32px;
                }
            }
        }
    }
}

.nav.is-active {
    right: 0;
    z-index: 1;
}

.body.is-active {
    overflow-y: hidden;
}

.modal-window-nav {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: #29292999;
    left: 0;
    z-index: 0;
    display: none;
    transition: all 0.3s;

    &.is-active {
        display: block;
    }
}

.header {
    &.is-active {
        top: 0;
    }
}