body, html {
    height: 100%;
}

html {
    scroll-behavior: smooth;
}

.start-section-wrapper, 
.footer-wrapper,
.how-to-help-section,
.our-friends-section-wrapper {
    @extend %page-display;
}

header {
    position: absolute;
    top: 60px;
    width: 100%;

    @media (max-width: $desktop-width) {
        top: 30px;
        padding: 0 4%;
        // width: 708px;
        // left: calc((100% - 708px) / 2);
    }

    // @media (max-width: $tablet-width) {
    //     width: 300px;
    //     left: calc((100% - 300px) / 2);
    // }
}

.header-wrapper {
    @extend %page-display;
    @include flex(space-between, center);
}

.main-words {
    text-align: center;
    .house-name {
        @include font(32px);
        letter-spacing: 2px;
        margin-bottom: 8px;

        @media (max-width: $tablet-width) {
            letter-spacing: 0.12rem;
        }

        a{
            text-decoration: none;
            color: $main-color;
        }
    }
    p:last-of-type {
        @include font-arial(13px);
        letter-spacing: 1.3px;
        color: #ffffff;
    }
}

.nav-wrapper {
    ul{
        margin-bottom: 5px;
        li{
            display: inline;
            margin: 0 15.5px 0 15px;
            letter-spacing: 0.45px;
            }
            a{
                text-decoration: none;
                @include font-arial(15px);
                letter-spacing: 0.1px;
                color: #cdcdcd;
                transition: 0.3s;
                &:hover {
                    color: #ffffff;
                }
                &.activ-nav-link {
                    padding-bottom: 4px;
                    border-bottom: solid 3px $main-color;
                    color: #ffffff;

                    @media (max-width: $tablet-width) {
                        padding-bottom: 6px;
                    }
                }
            }
        }
        li:last-of-type {
            margin-right: 0px;
    }
}

.start-section {
    width: 100%;
    height: 908px;
    background: url(../assets/images/noise_transparent.png), 
    radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;
    @include flex(center, flex-end);

    @media (max-width: $desktop-width) {
        height: 1165px;
    }

    @media (max-width: $tablet-width) {
        height: 823px;
    }
}

.start-section-wrapper {
    @include flex(space-between, flex-end);
    gap: 40px;

    @media (max-width: 1250px) {
        gap: 0px;
    }

    @media (max-width: $desktop-width) {
        flex-direction: column;
        @include flex(space-between, center);
        gap: 0px;
    }
        div:first-of-type {
            width: 460px;
            margin-bottom: 243px;

            @media (max-width: $desktop-width) {
                margin-bottom: 100px;
            }

            @media (max-width: $tablet-width) {
                text-align: center;
                width: 300px;
                margin-bottom: 105px;
            }

            h1{
                @include font(44px, 400,#ffffff);
                width: 310px;
                line-height: 1.28em;

                @media (max-width: $tablet-width) {
                    font-size: 25px;
                    margin: auto;
                    width: 230px;
                    letter-spacing: 0.1rem;
                }
            }

            p {
                margin-top: 43px;
                padding-bottom: 60px;
                @include font-arial(15px, 400,#cdcdcd);
                line-height: 1.56em;
            }

            .button-container-our-pets {
                margin: 0;
                padding-bottom: 15px;

                @media (max-width: $desktop-width) {
                    text-align: center;
                }
                a {
                    @extend %butt-start-section;
                    letter-spacing: 1px;
                    &:hover {
                        background-color: $hover-butt-color;
                        box-shadow: 0px 0px 15px #00000095;
                    }
                }
            }
        }
        .bg-dog {
            width: 698px;
            height: 728px;
            background-image: url('../assets/images/start-screen-puppy.png');
            background-size: contain;

            @media (max-width: $desktop-width) {
                width: 569px;
                height: 593px;
                // background-size: contain;
                margin-left: 144px;
            }

            @media (max-width: $tablet-width) {
                width: 261px;
                height: 272px;
                margin-left: 40px;
            }
        }
}

.about-shelter-section {
    height: 588px;
    padding-top: 80px;
    gap: 120px;
    @include flex();

    @media (max-width: $desktop-width) {
        flex-direction: column-reverse;
        height: 1048px;
        @include flex(flex-end, center);
        padding-top: 65px;
        gap: 81px;
    }

    @media (max-width: $tablet-width) {
        padding-top: 28px;
        height: 974px;
        gap: 40px;
    }

        .bg-dog-and-cat{
            width: 300px;
            height: 408px;
            background-image: url('../assets/images/about-pets.png');

            @media (max-width: $tablet-width) {
                width: 260px;
                height: 353.6px;
                background-size: contain;
                background-repeat: no-repeat;
            }
        }

        .text-about-shelter {
            padding-top: 16px;
            width: 430px;

            @media (max-width: $tablet-width) {
                text-align: center;
                width: 100%;
            }

            h2{
                @include font(35px, 400,$dark-color1);
                width: 320px;
                letter-spacing: 2.1px;
                line-height: 1.25em;

                @media (max-width: $tablet-width) {
                    font-size: 25px;
                    margin: auto;
                    width: 230px;
                    letter-spacing: 0.1rem;
                }
            }
            
            p {
                @include font-arial(15px, 400,#4c4c4c);
                line-height: 23.9px;

                @media (max-width: $tablet-width) {
                    margin-left: 7.5%;
                    margin-right: 7.5%;
                    text-align: justify;
                }
            }

            & p:first-of-type {
                margin-top: 26px;
                margin-bottom: 26px;

                @media (max-width: $tablet-width) {
                    margin-bottom: 22px;
                }
            }
        }
}

.our-friends-section {
    height: 877px;
    background-color: #f6f6f6;

    @media (max-width: $tablet-width) {
        height: 791px;
    }
}

.our-friends-section-wrapper {
    padding-top: 81px;
    @include flex(flex-start, center);
    flex-direction: column;

    @media (max-width: $tablet-width) {
        padding-top: 43px;
    }

    h2{
        @include font(35px, 400,$dark-color1);
        letter-spacing: 2.1px;
        line-height: 1.25em;
        text-align: center;

        @media (max-width: $tablet-width) {
            font-size: 25px;
            margin: auto;
            width: 100%;
            letter-spacing: 0.1rem;
        }
    }

    .slider-our-friends{
        margin-top: 61px;
        width: 1200px;
        @include flex(space-between, center);

        @media (max-width: $desktop-width) {
            width: 708px;
        }

        @media (max-width: $tablet-width) {
            justify-content: center;
            width: 270px;
            margin-top: 43px;
            flex-wrap: wrap;
            row-gap: 17px;
            column-gap: 30%;
        }

        & div:first-child {
            @media (max-width: $tablet-width) {
                order: 1;
            }
        }

        & div:last-child {
            @media (max-width: $tablet-width) {
                order: 2;
            }
        }

        .left-butt-slider, 
        .right-butt-slider {
            @extend %butt-circle;
            margin-top: 3px;
                &:hover {
                    background-color: #FDDCC4;
                    border: solid 2px #FDDCC4;
                }
            background-image: url('../assets/images/svg/Arrow.svg');
            background-position: center;
            background-repeat: no-repeat;

            &.right-butt-slider {
                transform: rotate(180deg);
            }
        }

        .pets-photos-slider-wrapper {
            margin: auto;
            width: 990px;
            overflow: hidden;

            @media (max-width: $desktop-width) {
                width: 580px;
            }

            @media (max-width: $tablet-width) {
                width: 270px;
            }

            .pets-photos-slider {
                position: relative;
                left: -1075px;
                @include flex(flex-start center);
                column-gap: 9%;

                @media (max-width: $desktop-width) {
                    left: -930px;
                    column-gap: 7%;
                }

                @media (max-width: $tablet-width) {
                    left: -810px;
                    column-gap: 0%;
                }

                div {
                    text-align: center;
                }
            }
        }
    }
        
    .button-container-get-the-rest {
        margin-top: 77px;
        padding: 0;

        @media (max-width: $tablet-width) {
            margin-top: 56px;
        }

        a{
            @extend %butt-get-to-know-the-rest;
            letter-spacing: 1px;
            &:hover {
                background-color: $hover-butt-color;
                box-shadow: 0px 0px 15px #00000063;
            }
        } 
    }
}

.pets-photos-slider {
    div{
        height: 435px;
        background-color: #fafafa;
        border-radius: 9px;
        transition: 0.4s
    }

    figcaption {
        padding-top: 26px;
        @include font(20px, 400,$dark-color1);
        letter-spacing: 1.4px;
    }

    button {
        margin-top: 30px;
        @extend %butt-pets-slider;
        letter-spacing: 1px;
    }
}

.pets-photos-slider {
    div:hover {
        cursor: pointer;
        // box-shadow: 0px 0px 10px #00000063 inset;
        background-color: #ffffff;
        button {
            background-color: #FDDCC4;
            border: solid 2px #FDDCC4;
            &:hover{
                box-shadow: 0px 0px 15px #00000063;
            }
        }
    }
}

.how-to-help-section {
    height: 611px;
    text-align: center;

    @media (max-width: $desktop-width) {
        height: 779px;
    }
    @media (max-width: $tablet-width) {
        height: 745px;
    }

    h2 {
        padding-top: 81px;
        @include font(35px, 400,$dark-color1);
        letter-spacing: 2.1px;
        line-height: 1.25em;

        @media (max-width: $tablet-width) {
            font-size: 25px;
            margin: auto;
            width: 100%;
            letter-spacing: 0.1rem;
            padding-top: 43px;
        }
    }
    
    .how-to-help-wrapper {
        margin-top: 61px;
        @include flex(center, center);
        flex-wrap: wrap;
        gap: 55px 120px;

        @media (max-width: $desktop-width) {
            width: 630px;
            margin: auto;
            gap: 55px 60px;
            margin-top: 61px;
        }
        @media (max-width: $tablet-width) {
            width: 290px;
            margin: auto;
            margin-top: 43px;
            gap: 28px 0px;
            @include flex(space-between, center);
        }

        figure {

            @media (max-width: $desktop-width) {
                width: 170px;
            }
            @media (max-width: $tablet-width) {
                width: 130px;
            }

            img {
                @media (max-width: $tablet-width) {
                    width: 50px;
                    height: 50px;
                }
            }

            figcaption{
                padding-top: 26px;
                @include font(20px, 400,$dark-color1);
                letter-spacing: 1px;

                @media (max-width: $tablet-width) {
                    font-size: 15px;
                    padding-top: 17px;
                }
            }
        }
    }
}

.donation-section {
    height: 462px;
    background-color: #F6F6F6;

    @media (max-width: $desktop-width) {
        height: 783px;
    }
    @media (max-width: $tablet-width) {
        height: 542.2px;
    }

    .donation-section-wrapper {
        padding-top: 80px;
        @include flex(center, center);
        gap: 28px;

        @media (max-width: $desktop-width) {
            flex-direction: column-reverse;
            gap: 60px;
        }

        @media (max-width: $tablet-width) {
            gap: 83px;
            padding-top: 0px;
        }

        .bg-donation {
            width: 505px;
            height: 261px;
            background-image: url('../assets/images/donation-dog.png');
            background-position: center;
            background-repeat: no-repeat;

            @media (max-width: $tablet-width) {
                width: 260px;
                height: 135.2px;
                background-size: contain;
            }
        }

        .info-donation-block {
            width: 380px;
            height: 282px;
            padding-left: 2px;

            @media (max-width: $tablet-width) {
                text-align: center;
                width: 100%;
            }

            h2{
                padding-top: 1px;
                @include font(35px, 400,$dark-color1);
                letter-spacing: 2.1px;
                line-height: 1.25em;

                @media (max-width: $tablet-width) {
                    font-size: 25px;
                    margin: auto;
                    width: 100%;
                    letter-spacing: 0.1rem;
                    padding-top: 43px;
                }
            }

            & p:first-of-type {
                padding-top: 21px;
                @include font(15px, 400,$dark-color1);
                letter-spacing: 0.9px;

                @media (max-width: $tablet-width) {
                    letter-spacing: 0rem;
                    padding-top: 24px;
                }
            }

            .info-donation-data {
                margin-top: 20px;
                width: 349px;
                height: 43px;
                background-color: $main-color;
                border-radius: 9px;
                padding-top: 10px;
                transition: 0.4s;

                @media (max-width: $tablet-width) {
                    width: 281px;
                    margin: auto;
                    margin-top: 24px;
                    text-align: left;
                }

                &:hover {
                    cursor: pointer;
                    box-shadow: 0px 0px 15px #00000063;
                }

                a {
                    @include font(20px, 400,$dark-color1);
                    text-decoration: none;
                    padding-left: 15px;
                    letter-spacing: 1.2px;

                    @media (max-width: $tablet-width) {
                        font-size: 15px;
                        letter-spacing: 0.05rem;
                    }

                    &::before {
                        display: inline-block;
                        vertical-align: middle;
                        content: url('../assets/icons/credit-card.svg');
                        margin-right: 15px;
                    }
                }
            }

            & p:last-of-type {
                padding-top: 20px;
                @include font-arial(12px, 400, #B2B2B2);
                line-height: 1.5em;
                font-style: italic;

                @media (max-width: $tablet-width) {
                    margin: 0 6%;
                    text-align: justify;
                }
            }
        }
    }
}