body, html {
    height: 100%;
}

html {
    scroll-behavior: smooth;
}

.header-wrapper, 
.start-section-wrapper, 
.footer-wrapper,
.how-to-help-section,
.our-friends-section-wrapper {
    @extend %page-display;
}

.header-wrapper-nav {
    @include flex(space-between, center);
}

.main-words {
    text-align: center;
    .house-name {
        @include font(32px);
        letter-spacing: 2px;
        margin-bottom: 6px;

        a{
            text-decoration: none;
            color: $main-color;
        }
    }
    p:last-of-type {
        letter-spacing: 0.5px;
        color: #ffffff;
    }
}

.nav {
    ul{
        margin-bottom: 5px;
        li{
            display: inline;
            margin: 0 10px 0 15px;
            letter-spacing: 0.45px;
            }
            a{
                text-decoration: none;
                @include font(15px);
                color: #cdcdcd;
                transition: 0.3s;
                &:hover {
                    color: #ffffff;
                }
                &.activ-nav-link {
                    padding-bottom: 3px;
                    border-bottom: solid 3px $main-color;
                    color: #ffffff;
                }
            }
        }
        li:last-of-type {
            margin-right: 0px;
    }
}

header {
    padding-top: 60px;
    height: 100px;
    background-image: url('../assets/images/start-screen-gradient-background.png');
    background-position: center -96px;
    background-repeat: no-repeat;
    background-size: cover;
}

.start-section {
    width: 100%;
    height: 808px;
    background-image: url('../assets/images/start-screen-gradient-background.png');
    background-position: center -100px;
    background-repeat: no-repeat;
    background-size: cover;
    @include flex(center, flex-end);
}

.start-section-wrapper {
    @include flex(space-between, flex-end);
        div:first-of-type {
            width: 460px;
            margin-bottom: 243px;

            h1{
                @include font(44px, 400,#ffffff);
                width: 310px;
                line-height: 1.28em;
            }

            p {
                margin-top: 43px;
                padding-bottom: 60px;
                @include font(15px, 400,#cdcdcd);
                line-height: 1.55em;
            }

            .button-container-our-pets {
                margin: 0;
                padding-bottom: 15px;
                a {
                    @extend %butt-start-section;
                    letter-spacing: 1px;
                    &:hover {
                        background-color: $hover-butt-color;
                        box-shadow: 0px 0px 15px #00000095;
                    }
                }
            }
        }
        .bg-dog {
            width: 698px;
            height: 728px;
            background-image: url('../assets/images/start-screen-puppy.png');
        }
}

.about-shelter-section {
    height: 588px;
    padding-top: 80px;
    gap: 120px;
    @include flex();

        .bg-dog-and-cat{
            width: 300px;
            height: 408px;
            background-image: url('../assets/images/about-pets.png');
        }

        .text-about-shelter {
            padding-top: 16px;
            width: 430px;

            h2{
                @include font(35px, 400,$dark-color1);
                width: 320px;
                letter-spacing: 2.1px;
                line-height: 1.25em;
            }
            
            p {
                @include font(15px, 400,#4c4c4c);
                line-height: 24px;
            }

            & p:first-of-type {
                margin-top: 26px;
                margin-bottom: 26px;
            }
        }
}

.our-friends-section {
    height: 877px;
    background-color: #f6f6f6;
    text-align: center;
}

.our-friends-section-wrapper {

    h2{
        padding-top: 81px;
        @include font(35px, 400,$dark-color1);
        letter-spacing: 2.1px;
        line-height: 1.25em;
    }

    .slider-our-friends{
        margin-top: 61px;
        @include flex(space-between, center);

        .left-butt-slider, 
        .right-butt-slider {
            @extend %butt-circle;
            margin-top: 3px;
                &:hover {
                    background-color: #FDDCC4;
                    border: solid 2px #FDDCC4;
                }
            background-image: url('../assets/images/svg/Arrow.svg');
            background-position: center;
            background-repeat: no-repeat;

            &.right-butt-slider {
                transform: rotate(180deg);
            }
        }

        .pets-photos-slider {
            @include flex(space-between, center);
            gap: 90px;
        }
    }
    
    .button-container-get-the-rest {
        margin-top: 77px;
        padding: 0;
        a{
            @extend %butt-get-to-know-the-rest;
            letter-spacing: 1px;
            &:hover {
                transform: scale(1.08);
                background-color: $hover-butt-color;
                box-shadow: 0px 0px 15px #00000063;
            }
        } 
    }
}

.pets-photos-slider {
    div{
        width: 270px;
        height: 435px;
        background-color: #fafafa;
        border-radius: 9px;
        transition: 0.4s
    }

    figcaption {
        padding-top: 26px;
        @include font(20px, 400,$dark-color1);
        letter-spacing: 1.4px;
    }

    button {
        margin-top: 30px;
        @extend %butt-pets-slider;
        letter-spacing: 1px;
    }
}

.pets-photos-slider {
    div:hover {
        cursor: pointer;
        box-shadow: 0px 0px 15px #00000063;
        button {
            background-color: #FDDCC4;
            border: solid 2px #FDDCC4;
            &:hover{
                box-shadow: 0px 0px 15px #00000063;
            }
        }
    }
}

.how-to-help-section {
    height: 611px;
    text-align: center;
    h2 {
        padding-top: 81px;
        @include font(35px, 400,$dark-color1);
        letter-spacing: 2.1px;
        line-height: 1.25em;
    }
    
    .how-to-help-wrapper {
        margin-top: 61px;
        margin-left: 25px;
        margin-right: 25px;
        @include flex(center, center);
        flex-wrap: wrap;
        gap: 55px;

        figure {
            width: 180px;
            height: 113px;

            figcaption{
                padding-top: 26px;
                @include font(20px, 400,$dark-color1);
                letter-spacing: 1px;
            }
        }
    }
}

.donation-section {
    height: 462px;
    background-color: #F6F6F6;

    .donation-section-wrapper {
        padding-top: 80px;
        @include flex(center, center);
        gap: 28px;

        .bg-donation {
            width: 505px;
            height: 261px;
            background-image: url('../assets/images/donation-dog.png');
            background-position: center;
            background-repeat: no-repeat;
        }

        .info-donation-block {
            width: 380px;
            height: 282px;
            padding-left: 2px;

            h2{
                padding-top: 1px;
                @include font(35px, 400,$dark-color1);
                letter-spacing: 2.1px;
                line-height: 1.25em;
            }

            & p:first-of-type {
                padding-top: 21px;
                @include font(15px, 400,$dark-color1);
                letter-spacing: 1px;
            }

            .info-donation-data {
                margin-top: 20px;
                width: 349px;
                height: 43px;
                background-color: $main-color;
                border-radius: 9px;
                padding-top: 10px;

                a {
                    @include font(20px, 400,$dark-color1);
                    text-decoration: none;
                    padding-left: 15px;
                    letter-spacing: 1.2px;

                    &::before {
                        display: inline-block;
                        vertical-align: middle;
                        content: url('../assets/icons/credit-card.svg');
                        margin-right: 15px;
                    }
                }
            }

            & p:last-of-type {
                padding-top: 20px;
                @include font(12px, 400, #B2B2B2);
                line-height: 1.5em;
                font-style: italic;
            }
        }
    }
}