.header-wrapper, .start-section-wrapper,
.footer-wrapper,
.how-to-help-section,
.our-friends-section-wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.start-section-wrapper div:first-of-type .button-container-our-pets a {
  padding: 17px 45px 16px 45px;
  border-radius: 26px;
  cursor: pointer;
  border: none;
  background-color: #F1CDB3;
  font-family: "Georgia", "Times New Roman", Times, serif;
  font-size: 17px;
  font-weight: 400;
  color: #292929;
  text-decoration: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.our-friends-section-wrapper .slider-our-friends .left-butt-slider,
.our-friends-section-wrapper .slider-our-friends .right-butt-slider {
  width: 52px;
  height: 52px;
  border-radius: 26px;
  cursor: pointer;
  border: 2px solid #F1CDB3;
  background-color: transparent;
  font-family: "Georgia", "Times New Roman", Times, serif;
  font-size: 17px;
  font-weight: 400;
  color: #292929;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.pets-photos-slider button {
  width: 187px;
  height: 52px;
  border-radius: 26px;
  cursor: pointer;
  border: 2px solid #F1CDB3;
  background-color: transparent;
  font-family: "Georgia", "Times New Roman", Times, serif;
  font-size: 17px;
  font-weight: 400;
  color: #292929;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.our-friends-section-wrapper .button-container-get-the-rest a {
  padding: 17px 45px 16px 45px;
  border-radius: 26px;
  border: none;
  background-color: #F1CDB3;
  cursor: pointer;
  font-family: "Georgia", "Times New Roman", Times, serif;
  font-size: 17px;
  font-weight: 400;
  color: #292929;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  text-decoration: none;
}

body, html {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

header {
  position: absolute;
  top: 60px;
  width: 100%;
}
@media (max-width: 1200px) {
  header {
    top: 30px;
    padding: 0 4% 0 4%;
  }
}

.header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-words {
  text-align: center;
}
.main-words .house-name {
  font-family: "Georgia", "Times New Roman", Times, serif;
  font-size: 32px;
  font-weight: 400;
  color: #F1CDB3;
  letter-spacing: 2px;
  margin-bottom: 8px;
}
.main-words .house-name a {
  text-decoration: none;
  color: #F1CDB3;
}
.main-words p:last-of-type {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: #F1CDB3;
  letter-spacing: 1.3px;
  color: #ffffff;
}

.nav ul {
  margin-bottom: 5px;
}
.nav ul li {
  display: inline;
  margin: 0 15.5px 0 15px;
  letter-spacing: 0.45px;
}
.nav ul a {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #F1CDB3;
  letter-spacing: 0.1px;
  color: #cdcdcd;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.nav ul a:hover {
  color: #ffffff;
}
.nav ul a.activ-nav-link {
  padding-bottom: 4px;
  border-bottom: solid 3px #F1CDB3;
  color: #ffffff;
}
.nav li:last-of-type {
  margin-right: 0px;
}

.start-section {
  width: 100%;
  height: 908px;
  background: url(../../assets/images/noise_transparent.png), radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 1200px) {
  .start-section {
    height: 1165px;
  }
}

.start-section-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 40px;
}
@media (max-width: 1250px) {
  .start-section-wrapper {
    gap: 0px;
  }
}
@media (max-width: 1200px) {
  .start-section-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 0px;
  }
}
.start-section-wrapper div:first-of-type {
  width: 460px;
  margin-bottom: 243px;
}
@media (max-width: 1200px) {
  .start-section-wrapper div:first-of-type {
    margin-bottom: 100px;
  }
}
.start-section-wrapper div:first-of-type h1 {
  font-family: "Georgia", "Times New Roman", Times, serif;
  font-size: 44px;
  font-weight: 400;
  color: #ffffff;
  width: 310px;
  line-height: 1.28em;
}
.start-section-wrapper div:first-of-type p {
  margin-top: 43px;
  padding-bottom: 60px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #cdcdcd;
  line-height: 1.56em;
}
.start-section-wrapper div:first-of-type .button-container-our-pets {
  margin: 0;
  padding-bottom: 15px;
}
@media (max-width: 1200px) {
  .start-section-wrapper div:first-of-type .button-container-our-pets {
    text-align: center;
  }
}
.start-section-wrapper div:first-of-type .button-container-our-pets a {
  letter-spacing: 1px;
}
.start-section-wrapper div:first-of-type .button-container-our-pets a:hover {
  background-color: #FDDCC4;
  -webkit-box-shadow: 0px 0px 15px #00000095;
          box-shadow: 0px 0px 15px #00000095;
}
.start-section-wrapper .bg-dog {
  width: 698px;
  height: 728px;
  background-image: url("../assets/images/start-screen-puppy.png");
  background-size: contain;
}
@media (max-width: 1200px) {
  .start-section-wrapper .bg-dog {
    width: 569px;
    height: 593px;
    background-size: contain;
    margin-left: 144px;
  }
}

.about-shelter-section {
  height: 588px;
  padding-top: 80px;
  gap: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 1200px) {
  .about-shelter-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    height: 1048px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-top: 65px;
    gap: 81px;
  }
}
.about-shelter-section .bg-dog-and-cat {
  width: 300px;
  height: 408px;
  background-image: url("../assets/images/about-pets.png");
}
.about-shelter-section .text-about-shelter {
  padding-top: 16px;
  width: 430px;
}
.about-shelter-section .text-about-shelter h2 {
  font-family: "Georgia", "Times New Roman", Times, serif;
  font-size: 35px;
  font-weight: 400;
  color: #545454;
  width: 320px;
  letter-spacing: 2.1px;
  line-height: 1.25em;
}
.about-shelter-section .text-about-shelter p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #4c4c4c;
  line-height: 23.9px;
}
.about-shelter-section .text-about-shelter p:first-of-type {
  margin-top: 26px;
  margin-bottom: 26px;
}

.our-friends-section {
  height: 877px;
  background-color: #f6f6f6;
}

.our-friends-section-wrapper {
  padding-top: 81px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.our-friends-section-wrapper h2 {
  font-family: "Georgia", "Times New Roman", Times, serif;
  font-size: 35px;
  font-weight: 400;
  color: #545454;
  letter-spacing: 2.1px;
  line-height: 1.25em;
  text-align: center;
}
.our-friends-section-wrapper .slider-our-friends {
  margin-top: 61px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 15.9%;
     -moz-column-gap: 15.9%;
          column-gap: 15.9%;
}
@media (max-width: 1230px) {
  .our-friends-section-wrapper .slider-our-friends {
    -webkit-column-gap: 9%;
       -moz-column-gap: 9%;
            column-gap: 9%;
  }
}
@media (max-width: 1000px) {
  .our-friends-section-wrapper .slider-our-friends {
    -webkit-column-gap: 5%;
       -moz-column-gap: 5%;
            column-gap: 5%;
  }
}
.our-friends-section-wrapper .slider-our-friends .left-butt-slider,
.our-friends-section-wrapper .slider-our-friends .right-butt-slider {
  margin-top: 3px;
  background-image: url("../assets/images/svg/Arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
}
.our-friends-section-wrapper .slider-our-friends .left-butt-slider:hover,
.our-friends-section-wrapper .slider-our-friends .right-butt-slider:hover {
  background-color: #FDDCC4;
  border: solid 2px #FDDCC4;
}
.our-friends-section-wrapper .slider-our-friends .left-butt-slider.right-butt-slider,
.our-friends-section-wrapper .slider-our-friends .right-butt-slider.right-butt-slider {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.our-friends-section-wrapper .slider-our-friends .pets-photos-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 11%;
     -moz-column-gap: 11%;
          column-gap: 11%;
}
@media (max-width: 1230px) {
  .our-friends-section-wrapper .slider-our-friends .pets-photos-slider {
    -webkit-column-gap: 7%;
       -moz-column-gap: 7%;
            column-gap: 7%;
  }
}
@media (max-width: 1100px) {
  .our-friends-section-wrapper .slider-our-friends .pets-photos-slider div:last-child {
    display: none;
  }
}
.our-friends-section-wrapper .slider-our-friends .pets-photos-slider div {
  text-align: center;
}
.our-friends-section-wrapper .button-container-get-the-rest {
  margin-top: 77px;
  padding: 0;
}
.our-friends-section-wrapper .button-container-get-the-rest a {
  letter-spacing: 1px;
}
.our-friends-section-wrapper .button-container-get-the-rest a:hover {
  background-color: #FDDCC4;
  -webkit-box-shadow: 0px 0px 15px #00000063;
          box-shadow: 0px 0px 15px #00000063;
}

.pets-photos-slider div {
  height: 435px;
  background-color: #fafafa;
  border-radius: 9px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.pets-photos-slider figcaption {
  padding-top: 26px;
  font-family: "Georgia", "Times New Roman", Times, serif;
  font-size: 20px;
  font-weight: 400;
  color: #545454;
  letter-spacing: 1.4px;
}
.pets-photos-slider button {
  margin-top: 30px;
  letter-spacing: 1px;
}

.pets-photos-slider div:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 15px #00000063;
          box-shadow: 0px 0px 15px #00000063;
  background-color: #ffffff;
}
.pets-photos-slider div:hover button {
  background-color: #FDDCC4;
  border: solid 2px #FDDCC4;
}
.pets-photos-slider div:hover button:hover {
  -webkit-box-shadow: 0px 0px 15px #00000063;
          box-shadow: 0px 0px 15px #00000063;
}

.how-to-help-section {
  height: 611px;
  text-align: center;
}
@media (max-width: 1200px) {
  .how-to-help-section {
    height: 779px;
  }
}
.how-to-help-section h2 {
  padding-top: 81px;
  font-family: "Georgia", "Times New Roman", Times, serif;
  font-size: 35px;
  font-weight: 400;
  color: #545454;
  letter-spacing: 2.1px;
  line-height: 1.25em;
}
.how-to-help-section .how-to-help-wrapper {
  margin-top: 61px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 55px 120px;
}
@media (max-width: 1200px) {
  .how-to-help-section .how-to-help-wrapper {
    gap: 55px 60px;
  }
}
@media (max-width: 1200px) {
  .how-to-help-section .how-to-help-wrapper figure {
    width: 170px;
  }
}
.how-to-help-section .how-to-help-wrapper figure figcaption {
  padding-top: 26px;
  font-family: "Georgia", "Times New Roman", Times, serif;
  font-size: 20px;
  font-weight: 400;
  color: #545454;
  letter-spacing: 1px;
}

.donation-section {
  height: 462px;
  background-color: #F6F6F6;
}
@media (max-width: 1200px) {
  .donation-section {
    height: 783px;
  }
}
.donation-section .donation-section-wrapper {
  padding-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 28px;
}
@media (max-width: 1200px) {
  .donation-section .donation-section-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: 60px;
  }
}
.donation-section .donation-section-wrapper .bg-donation {
  width: 505px;
  height: 261px;
  background-image: url("../assets/images/donation-dog.png");
  background-position: center;
  background-repeat: no-repeat;
}
.donation-section .donation-section-wrapper .info-donation-block {
  width: 380px;
  height: 282px;
  padding-left: 2px;
}
.donation-section .donation-section-wrapper .info-donation-block h2 {
  padding-top: 1px;
  font-family: "Georgia", "Times New Roman", Times, serif;
  font-size: 35px;
  font-weight: 400;
  color: #545454;
  letter-spacing: 2.1px;
  line-height: 1.25em;
}
.donation-section .donation-section-wrapper .info-donation-block p:first-of-type {
  padding-top: 21px;
  font-family: "Georgia", "Times New Roman", Times, serif;
  font-size: 15px;
  font-weight: 400;
  color: #545454;
  letter-spacing: 0.9px;
}
.donation-section .donation-section-wrapper .info-donation-block .info-donation-data {
  margin-top: 20px;
  width: 349px;
  height: 43px;
  background-color: #F1CDB3;
  border-radius: 9px;
  padding-top: 10px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.donation-section .donation-section-wrapper .info-donation-block .info-donation-data:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 15px #00000063;
          box-shadow: 0px 0px 15px #00000063;
}
.donation-section .donation-section-wrapper .info-donation-block .info-donation-data a {
  font-family: "Georgia", "Times New Roman", Times, serif;
  font-size: 20px;
  font-weight: 400;
  color: #545454;
  text-decoration: none;
  padding-left: 15px;
  letter-spacing: 1.2px;
}
.donation-section .donation-section-wrapper .info-donation-block .info-donation-data a::before {
  display: inline-block;
  vertical-align: middle;
  content: url("../assets/icons/credit-card.svg");
  margin-right: 15px;
}
.donation-section .donation-section-wrapper .info-donation-block p:last-of-type {
  padding-top: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #B2B2B2;
  line-height: 1.5em;
  font-style: italic;
}

footer {
  height: 350px;
  width: 100%;
  background-image: url("../assets/images/start-screen-gradient-background.png");
  background-position: center 0px;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 1200px) {
  footer {
    height: 639px;
  }
}
footer .footer-wrapper {
  width: 1200px;
  height: 100%;
  padding-top: 57px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 1200px) {
  footer .footer-wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
    padding-top: 11px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
footer .footer-wrapper .bg-dog-footer {
  width: 300px;
  height: 310px;
  background-image: url("../assets/images/footer-puppy.png");
  background-position: center 0px;
  background-repeat: no-repeat;
  -ms-flex-item-align: end;
      align-self: flex-end;
}
footer .footer-wrapper div {
  width: 300px;
}
footer .footer-wrapper div h3 {
  font-family: "Georgia", "Times New Roman", Times, serif;
  font-size: 35px;
  font-weight: 400;
  color: #ffffff;
  letter-spacing: 2.1px;
  line-height: 1.25em;
}
footer .footer-wrapper .question-block p {
  font-family: "Georgia", "Times New Roman", Times, serif;
  font-size: 20px;
  font-weight: 400;
  color: #F1CDB3;
  letter-spacing: 1.3px;
}
footer .footer-wrapper .question-block p a {
  text-decoration: none;
  color: #F1CDB3;
}
footer .footer-wrapper .question-block .email {
  padding-top: 41px;
}
footer .footer-wrapper .question-block .email a::before {
  display: inline-block;
  vertical-align: middle;
  content: url("../assets/icons/icon-email.svg");
  margin-right: 20px;
}
footer .footer-wrapper .question-block .telephone {
  padding-top: 36px;
}
footer .footer-wrapper .question-block .telephone a::before {
  display: inline-block;
  vertical-align: middle;
  content: url("../assets/icons//icon-phone.svg");
  margin-right: 20px;
}
footer .footer-wrapper .adress-block {
  width: 321px;
  font-family: "Georgia", "Times New Roman", Times, serif;
  font-size: 20px;
  font-weight: 400;
  color: #F1CDB3;
  letter-spacing: 1.2px;
}
@media (max-width: 1200px) {
  footer .footer-wrapper .adress-block {
    padding-left: 20px;
  }
}
footer .footer-wrapper .adress-block .address-boston {
  padding-top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-style: normal;
}
footer .footer-wrapper .adress-block .address-boston::before {
  margin-top: 5px;
  display: inline-block;
  vertical-align: middle;
  content: url("../assets/icons/icon-marker.svg");
  margin-right: 20px;
}
footer .footer-wrapper .adress-block .address-boston a {
  text-decoration: none;
  color: #F1CDB3;
  display: block;
  position: absolute;
  padding-left: 41px;
}
footer .footer-wrapper .adress-block address:last-of-type {
  padding-top: 37px;
}
footer .footer-wrapper .adress-block address:last-of-type a {
  text-decoration: none;
  color: #F1CDB3;
  font-style: normal;
}
footer .footer-wrapper .adress-block address:last-of-type a::before {
  margin-right: 20px;
  display: inline-block;
  vertical-align: middle;
  content: url("../assets/icons/icon-marker.svg");
}