.header-wrapper,
.footer-wrapper,
.our-friends-section-wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.button-container-slider .two-arr-left,
.button-container-slider .one-arr-left,
.button-container-slider .page-number,
.button-container-slider .one-arr-right,
.button-container-slider .two-arr-right {
  width: 52px;
  height: 52px;
  border-radius: 26px;
  cursor: pointer;
  border: 2px solid #F1CDB3;
  background-color: transparent;
  font-family: "Georgia", "Times New Roman", Times, serif;
  font-size: 17px;
  font-weight: 400;
  color: #292929;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.pets-photos-slider button {
  width: 187px;
  height: 52px;
  border-radius: 26px;
  cursor: pointer;
  border: 2px solid #F1CDB3;
  background-color: transparent;
  font-family: "Georgia", "Times New Roman", Times, serif;
  font-size: 17px;
  font-weight: 400;
  color: #292929;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

@-webkit-keyframes move-right-1200 {
  from {
    left: -1075px;
  }
  to {
    left: -2150px;
  }
}

@keyframes move-right-1200 {
  from {
    left: -1075px;
  }
  to {
    left: -2150px;
  }
}
@-webkit-keyframes move-right-768 {
  from {
    left: -930px;
  }
  to {
    left: -1860px;
  }
}
@keyframes move-right-768 {
  from {
    left: -930px;
  }
  to {
    left: -1860px;
  }
}
@-webkit-keyframes move-right-320 {
  from {
    left: -540px;
  }
  to {
    left: -1620px;
  }
}
@keyframes move-right-320 {
  from {
    left: -540px;
  }
  to {
    left: -1620px;
  }
}
.transition-right {
  -webkit-animation-name: move-right-1200;
          animation-name: move-right-1200;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}
@media (max-width: 1279px) {
  .transition-right {
    -webkit-animation-name: move-right-768;
            animation-name: move-right-768;
    -webkit-animation-duration: 0.7s;
            animation-duration: 0.7s;
  }
}
@media (max-width: 767px) {
  .transition-right {
    -webkit-animation-name: move-right-320;
            animation-name: move-right-320;
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
  }
}

@-webkit-keyframes move-left-1200 {
  from {
    left: -1075px;
  }
  to {
    left: 0px;
  }
}

@keyframes move-left-1200 {
  from {
    left: -1075px;
  }
  to {
    left: 0px;
  }
}
@-webkit-keyframes move-left-768 {
  from {
    left: -620px;
  }
  to {
    left: 0px;
  }
}
@keyframes move-left-768 {
  from {
    left: -620px;
  }
  to {
    left: 0px;
  }
}
@-webkit-keyframes move-left-320 {
  from {
    left: -620px;
  }
  to {
    left: 0px;
  }
}
@keyframes move-left-320 {
  from {
    left: -620px;
  }
  to {
    left: 0px;
  }
}
.transition-left {
  -webkit-animation-name: move-left-1200;
          animation-name: move-left-1200;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}
@media (max-width: 1279px) {
  .transition-left {
    -webkit-animation-name: move-left-768;
            animation-name: move-left-768;
    -webkit-animation-duration: 0.7s;
            animation-duration: 0.7s;
  }
}
@media (max-width: 767px) {
  .transition-left {
    -webkit-animation-name: move-left-320;
            animation-name: move-left-320;
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
  }
}

body, html {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

header {
  height: 120px;
  width: 100%;
  background-color: #ffffff;
  position: fixed;
  left: calc(100% - (1200 / 2));
}

.header-wrapper-nav {
  margin: auto;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1279px) {
  .header-wrapper-nav {
    padding: 0 4%;
  }
}

.main-words {
  text-align: center;
}
.main-words p {
  margin: 0;
  padding: 0;
}
.main-words .house-name {
  font-family: "Georgia", "Times New Roman", Times, serif;
  font-size: 32px;
  font-weight: 400;
  color: #F1CDB3;
  letter-spacing: 2px;
  margin-bottom: 8px;
}
.main-words .house-name a {
  text-decoration: none;
  color: #545454;
}
.main-words p:last-of-type {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: #F1CDB3;
  letter-spacing: 1.3px;
  color: #545454;
}

.nav-wrapper ul {
  margin-bottom: 5px;
}
.nav-wrapper ul li {
  display: inline;
  margin: 0 15.5px 0 15px;
  letter-spacing: 0.45px;
}
.nav-wrapper ul a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #F1CDB3;
  letter-spacing: 0.1px;
  text-decoration: none;
  color: #545454;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
@media (max-width: 767px) {
  .nav-wrapper ul a {
    color: #cdcdcd;
  }
}
.nav-wrapper ul a:hover {
  color: #292929;
}
@media (max-width: 767px) {
  .nav-wrapper ul a:hover {
    color: #ffffff;
  }
}
.nav-wrapper ul a.activ-nav-link {
  padding-bottom: 3px;
  border-bottom: solid 3px #F1CDB3;
  color: #292929;
}
@media (max-width: 767px) {
  .nav-wrapper ul a.activ-nav-link {
    color: #ffffff;
    padding-bottom: 6px;
  }
}
.nav-wrapper li:last-of-type {
  margin-right: 0px;
}

main {
  padding-top: 120px;
}

.our-friends-section {
  height: 1342px;
  background-color: #f6f6f6;
  text-align: center;
}
@media (max-width: 1279px) {
  .our-friends-section {
    height: 1733px;
  }
}
@media (max-width: 767px) {
  .our-friends-section {
    height: 1649px;
  }
}

.our-friends-section-wrapper {
  padding-top: 59px;
}
@media (max-width: 1279px) {
  .our-friends-section-wrapper {
    width: 600px;
  }
}
@media (max-width: 767px) {
  .our-friends-section-wrapper {
    padding-top: 0px;
    width: 100%;
  }
}
.our-friends-section-wrapper h1 {
  font-family: "Georgia", "Times New Roman", Times, serif;
  font-size: 35px;
  font-weight: 400;
  color: #545454;
  letter-spacing: 2.1px;
  line-height: 1.25em;
  margin-bottom: 0;
}
@media (max-width: 767px) {
  .our-friends-section-wrapper h1 {
    font-size: 25px;
    margin: auto;
    width: 100%;
    letter-spacing: 0.1rem;
    padding-top: 43px;
  }
}
.our-friends-section-wrapper .slider-our-friends {
  margin-top: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (max-width: 1279px) {
  .our-friends-section-wrapper .slider-our-friends {
    margin-top: 15px;
  }
}
@media (max-width: 767px) {
  .our-friends-section-wrapper .slider-our-friends {
    margin-top: 26px;
  }
}
.our-friends-section-wrapper .pets-photos-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0px;
  row-gap: 30px;
}
@media (max-width: 1279px) {
  .our-friends-section-wrapper .pets-photos-slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-column-gap: 39px;
       -moz-column-gap: 39px;
            column-gap: 39px;
  }
}

.pets-photos-slider {
  margin-top: 15px;
}
@media (max-width: 1279px) {
  .pets-photos-slider div:nth-child(n+7) {
    display: none;
  }
}
@media (max-width: 767px) {
  .pets-photos-slider {
    width: 280px;
  }
  .pets-photos-slider div:nth-child(n+4) {
    display: none;
  }
}
.pets-photos-slider div {
  width: 270px;
  height: 435px;
  background-color: #fafafa;
  border-radius: 9px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.pets-photos-slider figure {
  display: contents;
}
.pets-photos-slider figure figcaption {
  padding-top: 26px;
  font-family: "Georgia", "Times New Roman", Times, serif;
  font-size: 20px;
  font-weight: 400;
  color: #545454;
  letter-spacing: 1.4px;
}
.pets-photos-slider button {
  margin-top: 30px;
  letter-spacing: 1px;
}

.pets-photos-slider div:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 15px #00000063;
          box-shadow: 0px 0px 15px #00000063;
  background-color: #ffffff;
}
.pets-photos-slider div:hover button {
  background-color: #FDDCC4;
  border: solid 2px #FDDCC4;
}
.pets-photos-slider div:hover button:hover {
  -webkit-box-shadow: 0px 0px 15px #00000063;
          box-shadow: 0px 0px 15px #00000063;
}

.button-container-slider {
  padding-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}
@media (max-width: 1279px) {
  .button-container-slider {
    padding-top: 40px;
  }
}
@media (max-width: 767px) {
  .button-container-slider {
    -webkit-column-gap: 10px;
       -moz-column-gap: 10px;
            column-gap: 10px;
    padding-top: 43px;
  }
}
.button-container-slider .two-arr-left,
.button-container-slider .one-arr-left,
.button-container-slider .page-number,
.button-container-slider .one-arr-right,
.button-container-slider .two-arr-right {
  cursor: default;
}
.button-container-slider .two-arr-left.active-butt,
.button-container-slider .one-arr-left.active-butt,
.button-container-slider .page-number.active-butt,
.button-container-slider .one-arr-right.active-butt,
.button-container-slider .two-arr-right.active-butt {
  background-color: #F1CDB3;
}
.button-container-slider .one-arr-right:hover,
.button-container-slider .two-arr-right:hover {
  background-color: #FDDCC4;
  border: solid 2px #FDDCC4;
  cursor: pointer;
}
.button-container-slider .two-arr-left {
  background-image: url("../assets/images/svg/arr-2-transp.svg");
  background-position: center;
  background-repeat: no-repeat;
  border-color: #cdcdcd;
}
.button-container-slider .one-arr-left {
  background-image: url("../assets/images/svg/arr-1-transp.svg");
  background-position: center;
  background-repeat: no-repeat;
  border-color: #cdcdcd;
}
.button-container-slider .one-arr-right {
  background-image: url("../assets/images/svg/arr-1.svg");
  background-position: center;
  background-repeat: no-repeat;
}
.button-container-slider .two-arr-right {
  background-image: url("../assets/images/svg/arr-2.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.burger-menu .line-burger {
  background-color: #000000 !important;
}

.burger-menu.is-active .line-burger {
  background-color: #F1CDB3 !important;
}

.burger-menu.is-active {
  top: 0 !important;
}

footer {
  height: 350px;
  width: 100%;
  background: url(../assets/images/noise_transparent.png), radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1279px) {
  footer {
    height: 639px;
  }
}
@media (max-width: 767px) {
  footer {
    height: 809px;
  }
}
footer .footer-wrapper {
  width: 1200px;
  height: 100%;
  padding-top: 57px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media (max-width: 1279px) {
  footer .footer-wrapper {
    width: 708px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
    padding-top: 11px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 767px) {
  footer .footer-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: center;
    padding-top: 16px;
    width: 100%;
  }
}
footer .footer-wrapper .bg-dog-footer {
  width: 300px;
  height: 310px;
  background-image: url("../assets/images/footer-puppy.png");
  background-position: center 0px;
  background-repeat: no-repeat;
  -ms-flex-item-align: end;
      align-self: flex-end;
  background-size: contain;
}
@media (max-width: 767px) {
  footer .footer-wrapper .bg-dog-footer {
    width: 260px;
    height: 269px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}
footer .footer-wrapper div {
  width: 300px;
}
footer .footer-wrapper div h3 {
  font-family: "Georgia", "Times New Roman", Times, serif;
  font-size: 35px;
  font-weight: 400;
  color: #ffffff;
  letter-spacing: 2.1px;
  line-height: 1.25em;
}
@media (max-width: 767px) {
  footer .footer-wrapper div h3 {
    font-size: 25px;
    margin: auto;
    width: 100%;
    letter-spacing: 0.1rem;
    padding-top: 3px;
  }
}
@media (max-width: 767px) {
  footer .footer-wrapper .question-block {
    margin-top: 12px;
  }
}
footer .footer-wrapper .question-block p {
  font-family: "Georgia", "Times New Roman", Times, serif;
  font-size: 20px;
  font-weight: 400;
  color: #F1CDB3;
  letter-spacing: 1.3px;
}
footer .footer-wrapper .question-block p a {
  text-decoration: none;
  color: #F1CDB3;
}
footer .footer-wrapper .question-block .email {
  padding-top: 41px;
}
footer .footer-wrapper .question-block .email a::before {
  display: inline-block;
  vertical-align: middle;
  content: url("../assets/icons/icon-email.svg");
  margin-right: 20px;
}
footer .footer-wrapper .question-block .telephone {
  padding-top: 36px;
}
footer .footer-wrapper .question-block .telephone a::before {
  display: inline-block;
  vertical-align: middle;
  content: url("../assets/icons//icon-phone.svg");
  margin-right: 20px;
}
footer .footer-wrapper .adress-block {
  width: 321px;
  font-family: "Georgia", "Times New Roman", Times, serif;
  font-size: 20px;
  font-weight: 400;
  color: #F1CDB3;
  letter-spacing: 1.2px;
}
@media (max-width: 1279px) {
  footer .footer-wrapper .adress-block {
    padding-left: 20px;
  }
}
@media (max-width: 767px) {
  footer .footer-wrapper .adress-block {
    padding-left: 0px;
    margin-bottom: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 240px;
    width: 300px;
  }
}
@media (max-width: 767px) {
  footer .footer-wrapper .adress-block h3 {
    padding-top: 5px;
    width: 90%;
    line-height: 2rem;
  }
}
footer .footer-wrapper .adress-block .address-boston {
  padding-top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-style: normal;
}
@media (max-width: 767px) {
  footer .footer-wrapper .adress-block .address-boston {
    width: 280px;
    padding-bottom: 7px;
    text-align: left;
    padding-top: 34px;
  }
}
footer .footer-wrapper .adress-block .address-boston::before {
  margin-top: 5px;
  display: inline-block;
  vertical-align: middle;
  content: url("../assets/icons/icon-marker.svg");
  margin-right: 20px;
}
footer .footer-wrapper .adress-block .address-boston a {
  text-decoration: none;
  color: #F1CDB3;
  display: block;
  position: absolute;
  padding-left: 41px;
}
footer .footer-wrapper .adress-block address:last-of-type {
  padding-top: 37px;
}
@media (max-width: 767px) {
  footer .footer-wrapper .adress-block address:last-of-type {
    text-align: left;
    padding-bottom: 2px;
    padding-top: 35px;
  }
}
footer .footer-wrapper .adress-block address:last-of-type a {
  text-decoration: none;
  color: #F1CDB3;
  font-style: normal;
}
footer .footer-wrapper .adress-block address:last-of-type a::before {
  margin-right: 20px;
  display: inline-block;
  vertical-align: middle;
  content: url("../assets/icons/icon-marker.svg");
}

.burger-menu {
  width: 30px;
  height: 22px;
  cursor: pointer;
  display: none;
  margin-bottom: 8px;
  margin-right: 40px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 767px) {
  .burger-menu {
    position: relative;
    display: block;
    z-index: 1;
  }
  .burger-menu.is-active {
    top: 30px;
  }
}

.burger-menu .line-burger {
  width: 30px;
  height: 2px;
  background-color: #F1CDB3;
  display: block;
  margin: 8px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#burger-menu.is-active {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.main-words.hidden {
  visibility: hidden;
}

@media (min-width: 767px) {
  .main-words.main-words-nav {
    display: none;
  }
}

@media (max-width: 767px) {
  .nav {
    background: #292929;
    width: 320px;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -320px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    overflow: auto;
  }
  .nav .main-words.main-words-nav {
    text-align: left;
    padding-top: 30px;
    padding-left: 10px;
  }
  .nav .main-words.main-words-nav a {
    text-decoration: none;
    color: #F1CDB3;
  }
  .nav .main-words.main-words-nav p:last-child {
    padding-left: 4px;
    color: #ffffff;
  }
  .nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 55px;
    margin-top: 167px;
  }
  .nav ul li {
    margin: 0;
  }
  .nav ul li a {
    font-size: 32px;
  }
}

.nav.is-active {
  right: 0;
  z-index: 1;
}

.body.is-active {
  overflow-y: hidden;
}

.modal-window-nav {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: #29292999;
  left: 0;
  z-index: 0;
  display: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.modal-window-nav.is-active {
  display: block;
}

.header.is-active {
  top: 0;
}